#toggleBtn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.icon-container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.fa-sun {
    color: #ffb300;
}

.fa-moon {
    color: #3f51b5;
}

.active {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.night-mode {
    background-color: #333;
}

.night-mode #toggleBtn {
    background-color: #555;
}

.night-mode .active {
    background-color: #777;
}
