body.dark {
    background-color: #121212; /* Dark background color */           /* Light text color */
}

body.dark #dark_bg{
    background-color: #212121;
}

body.dark .dark_bg_txt {
    color: white;
}

.form-check{
    padding-top: 10px;
}

body.dark .dropdowns{
    background-color: #212121;
}

body.dark .restaurant-card{
    border: 2px solid black;
    box-shadow: 0 4px 8px white;
}

body.dark .review-box{
    border: 2px solid black;
    box-shadow: 0 4px 8px white;
}

body.dark #box_1 h1 {
    color: white !important;
}


body.dark .textShine{
    text-shadow: 0px 0px 2px white;
}
