body {
    font-family: "Afacad Flux", sans-serif;
    margin: 0;
    padding: 0;
    background: url('icecream-bg.png') no-repeat center center fixed; /* Background image */
    background-size: cover;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255,0.5); /* White overlay with opacity */
    backdrop-filter: blur(0.4px); /* Blurs the background image */
    z-index: -1; /* Ensures it stays behind the content */
}


