@media all and (max-width:1300px) {

    .nav-bar,
    .home {
        padding: 0 25px;
    }

    .nav-bar .nav-links a {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    section {
        padding: 15px;
    }

    .about .about-box .image,
    .about .about-box .text {
        margin: auto;
        height: fit-content;
    }

}

@media all and (max-width:1000px) {

    .nav-bar {
        width: 100%;
    }

    .nav-bar .nav-links a {
        margin: 10px;
        padding: 0;
        width: max-content;
        font-size: 15px;
    }

    .home .text h3 {
        font-size: 25px;
    }

    .home .text h1 {
        font-size: 50px;
    }

    .home .text h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .home .image img {
        width: 100%;
        height: 70%;
        margin: 0;
    }

    footer {
        padding: 20px;
    }
}

@media all and (max-width:830px) {

    .nav-bar {
        justify-content: space-between;
        padding: 15px;
        overflow: hidden;
        box-shadow: 0 0 10px rgb(203, 203, 203);
    }

    .nav-bar .nav-links {
        position: fixed;
        top: 70px;
        height: fit-content;
        background-color: var(--ternary-color);
        width: 100%;
        left: -100%;
        transition: 0.3s;
    }

    .nav-bar .nav-links.active {
        left: 0;
    }

    .nav-bar .nav-links a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 25px 0;
        border-bottom: 1px solid var(--main-color);
        border-radius: 0;
    }

    .nav-bar .nav-links a:first-of-type {
        border-top: 1px solid var(--main-color);
    }

    .nav-bar .icons i.menu {
        display: inline-block;
    }

    .home {
        height: max-content;
        padding: 50px 10px 0 10px;
        flex-direction: column-reverse;
    }

    .home .text {
        width: 100%;
    }

    .home .text h1 {
        font-size: 30px;
    }

    .home .text h4 {
        font-size: 15px;
        margin-bottom: 15px;
        overflow: visible;
    }

    .home .image {
        width: 90%;
    }

    .reviews .reviews-box .box .top img {
        height: 60px;
        width: 60px;
    }

    .contact form .row {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .copyright {
        font-size: 10px;
    }

}

@media all and (max-width:600px) {

    .about .about-box .image,
    .about .about-box .text {
        height: max-content;
    }

    footer .footer-box {
        margin-bottom: 15px;
    }

    footer .footer-box h1 {
        font-size: 20px;
    }

    .home .text button {
        font-size: 15px;
        padding: 7px 12px;
    }

    .home .design3,
    .home .design2,
    .home .design1 {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .footer .footer-row {
        /* padding: 20px; */
        gap: 1rem;
    }

    .footer-col form {
        display: block;
    }

    .footer-col form :where(input, button) {
        width: 100%;
    }

    .footer-col form button {
        margin: 10px 0 0 0;
    }
}