.search-container-wrapper {
    position: relative;
    z-index: 1000; /* Ensure the wrapper is above the hero section */
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    z-index: 10; 
}

#search-bar {
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    width: 200px;
    font-family: inherit;
    background-color: #ffffff;
    color: #EE66A6;
    transition: border-radius 0.3s ease; /* Smooth transition when border-radius changes */
}
#search-bar.expand {
    border-radius: 20px 20px 0 0; 
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #640D5F;
    cursor: pointer;
    padding: auto;
}

/* Custom scrollbar styles */
.dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
    background:transparent;
    border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background:transparent;
    border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.dropdown-content {
    display: none; /* Initially hidden, JS will handle this */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #EE66A6;
    border-radius: 0 0 20px 20px; 
    z-index: 10001 ;
    max-height: 200px;
    overflow-y: auto;
    width: 100%; 
}

/* Show dropdown when it's active, adjust search bar styling */
#search-bar:focus + .dropdown-content, 
.dropdown-content.show {
    display: block; 
}

#search-bar:focus {
    border-radius: 20px 20px 20px 20px; 
    width: 100%;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    z-index: 999999 !important;
    font-family: inherit;    
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #EE66A6;
}

#search-bar.expand {
    border-radius: 20px 20px 0 0; 
}