* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    width: 420px;
    text-align: center;
}

.logo  {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-bottom: 20px;
}
.logo a{
    font-size: 30px;
    font-weight: 800;
    color: #FFEB55;
    font-family: "Spicy Rice", serif;
    text-decoration: none;
}
.login-form {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.options input {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: rgb(50, 50, 241)
}

.tos {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}
.forget{
    text-decoration: none;
}
.register {
    margin-top: 15px;
}

.register a {
    color: blue;
    text-decoration: none;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    font-size: 14px;
    color: #666;
}

.social-btn {
    background-color: #f5f5f5;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;

}

.social-btn:hover {
    color: #00A1E0;
    border: 2px solid black;
}

