* body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #d8a7e8, #fdc394, #a6ebbf);
    
}

.cone-emoji {
    position: absolute;
    font-size: 2rem;
    opacity: 0.4;
}

/* Specific positions for random placement */
.cone-1 { top: 15%; left: 10%; }
.cone-2 { top: 25%; left: 50%; }
.cone-3 { top: 5%; right: 20%; }
.cone-4 { bottom: 10%; left: 5%; }
.cone-5 { bottom: 20%; right: 10%; }
.cone-6 { top: 50%; left: 75%; }
.cone-7 { bottom: 30%; right: 30%; }
.cone-8 { top: 40%; left: 30%; }
.cone-9 { bottom: 40%; left: 20%; }
.cone-10 { top: 60%; right: 15%; }

/* Ice cream cone background */
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.2;
}

/* Login form styling */
.login-container {
    position: relative;
    background: rgba(230, 209, 209, 0.9);
    border-radius: 10px;
    padding: 12px;
    width: 450px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
}

.login-container h1 {
    font-size: 2rem;
    color: #c34f03;
    margin-bottom: 20px;
}

/* Input field styles */
.input-fields {
    margin-bottom: 20px;
    text-align: left;
}

.input-field-header {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #444;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: .5px solid #d5d1d1;
    border-radius: 5px;
}

/* Password input field with toggle */
.password-container {
    position: relative;
}

.fa-eye-slash {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

/* Checkbox and remember me */
.check-button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
}

.check-button input[type="checkbox"] {
    margin-right: 10px;
}

/* Sign-in button */
.signin-btn button {
    width: 100%;
    padding: 10px;
    background-color: #d8594b;
    color: rgb(208, 200, 200);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.signin-btn button:hover {
    background-color: #ba2982;
}

/* Forgot password link */
.input-fields a {
    display: block;
    text-align: right;
    color: #197bbc;
    font-size: 1.0rem;
    text-decoration: none;
    margin-top: 5px;
}

.input-fields a:hover {
    text-decoration: underline;
}

/* Line container */
#line-container {
    margin-top: 20px;
    color: #444;
}

#line-container span {
    font-size: 0.9rem;
    margin-right: 5px;
}

.register-now-link {
    color: #ec4da5;
    font-weight: bold;
    text-decoration: none;
}

.register-now-link:hover {
    text-decoration: underline;
}

.sign-in {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #837979;
}


