@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Questrial", Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: var(--body-color);
}
:root {
    --ternary-color:#656565;
    --main-color:#f13785;
    --body-color:#ffffff;
    --secondary-color: #fecee2;
}
::selection {
    background-color: var(--main-color);
    color: var(--body-color);
}
html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

button, input[type="submit"] {
    width: 150px;
    padding: 8px 0;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    color: var(--body-color);
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover, input[type="submit"]:hover{
    background:transparent;
    color: var(--main-color);

}
button:active,input[type="submit"]:active {
    transform: scale(0.95);
}
section{
    width: 100%;
    padding: 0 100px;
}
section {
    margin: 20px 0;
}
section > h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
   color: var(--ternary-color);

}
section > h1 span {
    color: var(--main-color);
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
}
.box-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.box{
    cursor: pointer;
    padding: 10px;
}
h3{text-align: center; margin-top: -20px;}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::-webkit-scrollbar-track{
    width: 0;
}

.design1, .design2, .design3, .design4, .design5 {
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 200px;
}
/* -------------header styles------------------- */
.nav-bar {
    position: fixed; top: 0;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    z-index: 1000;
    background-color: var(--secondary-color);
    padding: 0 110px;
}
.nav-bar .logo{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.nav-bar .logo a{
    font-size: 30px;
    font-weight: 400;
    color: var(--main-color);
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar .nav-links a{
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 7px 10px;
    display: inline-block;
    margin: 0 15px;
    color: var(--main-color);
    text-transform: capitalize;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
}
.nav-bar .nav-links a:hover,
.nav-bar .nav-links a.active {
    color: var(--ternary-color);
}
.nav-bar .icons {
    display: flex;
}
.nav-bar .icons .icon {
    padding: 0 5px;
    position: relative;
}
.nav-bar .icons i{
    font-size: 20px;
    margin: 0 8px;
    color: var(--main-color);
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;    
}
.nav-bar .icons i:hover {
    color: var(--ternary-color);
}
.nav-bar .icons i.menu {
    display: none;
}
.nav-bar .icons .no-of-cart-items, .no-of-wishlist-items {
    position: absolute;
    color: var(--main-color);
    right: -15px;
    width: 25px;
    font-size: 12px;
}

/* cart styles */

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    background-color: var(--body-color);
    border-left: 2px solid grey;
    padding: 10px;
    z-index: 1000;
    right: -100%;
    transition: right 0.3s ease;
}
.cart.active {
    right: 0;
}
.cart .no-empty-cart {
    display: none;
}
.cart .no-empty-cart.active {
   display: block;
}
.cart ul li {
    padding: 5px;
    background-color: rgb(255, 243, 245);
    margin: 10px 0;
}
.cart ul li img {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.cart ul li .text{
    position: relative; font-size: 13px;
}
.cart ul li .text .price {
    font-weight: 600;
}
.cart h1 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: var(--main-color);
}
.cart .total {
    background-color: var(--secondary-color);
    padding: 10px;
    color: var(--main-color);
}
.cart button {
    margin: 15px 0;
    width: 100%;
}
.cart .close-cart, .remove {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--main-color);
    font-size: 20px;
    transition: 0.3s;
}
.cart .close-cart:hover, .remove:hover {
    color: var(--ternary-color);
}
.cart ul li .text .remove {
    font-size: 15px;
    top: 0;
    right: 0;
}
.cart .empty-cart {
    display: none;
}
.cart .empty-cart p{
    text-align: center;
    padding-top: 25%;
    
}
.cart .empty-cart.active {
    display: inline;
}




/* -------------home styles------------------- */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}
.home .design2 {
    top: 100px;
    left: -75px;
}
.home .design4 {
    bottom: 70px;
    left: 40%;
}
.home .design5 {
    top: 200px;
    right: -80px;
}
.home .text{
    width: 50%;
    color: rgb(65, 65, 65);
}
.home .text h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin:20px 0 0 0;
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(var(--secondary-color), var(--main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .text h1 {
    font-size:80px;
    background: -webkit-linear-gradient(var(--secondary-color), var(--main-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
}
.home .text h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--ternary-color);
}
.home .image {
    width: 50%;
}
.home .image img {
    width: 100%;
    height: 70%;
}

/* -------------about section styles------------------- */
.about {
    background: url('../images/design3.png') left top / 200px 200px no-repeat, url('../images/design2.png') right bottom / 250px 250px no-repeat;
}
.about .about-box .image {
    width: 100%;
    height:500px;
    max-width: 640px;
    overflow: hidden;
    padding: 0;
    border-radius: 10px;
}
.about .about-box .image img{
    height:100%;
    width:100%;
}
.about .about-box .text {
    width: 100%;
    max-width: 640px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.about .about-box .text h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--ternary-color);
}
.about .about-box .text p {
    line-height: 25px;
}
.about .about-box .text ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.about .about-box .text ul li .feature-icon {
    height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.about .about-box .text ul li i {
    color: var(--main-color);
}
.about .about-box .text ul li span span{
    color: var(--main-color);
    font-weight: 600;
}
/* -------------products section styles------------------- */

.categories-wrapper {
    margin-bottom: 20px;
    text-align: center;
}
.categories-wrapper button{
    font-size: 15px;
    width: fit-content;
    padding: 7px 20px;
    border: 1px solid var(--main-color);
    margin: 5px;

}
.categories-wrapper button:not(.active){
    color: var(--ternary-color);
    background-color: transparent;
}
.categories-wrapper button:not(.active):hover{
    background-color: var(--secondary-color);
}
.products {
    background: url('../images/design7.png') left top / 100px 100px no-repeat,
    url('../images/design7.png') right 500px / 100px 100px no-repeat,
    url('../images/design7.png') 50% 50% / 100px 100px no-repeat;
}
.products .products-box .box {
    position: relative;
    background-color: white;
    flex: 1 1 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    /*  */
    border: 2px solid var(--secondary-color);
}
.image-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.cat-label {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 5px;
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    left: 5px;
    border-radius: 25px;
}
.products .products-box .box .off,
.products .products-box .box .wish{
    position: absolute;
    width: 60px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    top: 15px;
    left: 0px;
    background-color: var(--main-color);
    color: var(--body-color);
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products .products-box .box .wish{
    left: auto;
    right: -60px;
    transition: right 0.2s ease;
}
.products .products-box .box:hover .wish{
    right: 0;
}
.products .products-box .box:hover {
    background-color: var(--secondary-color);
}
.products .products-box .box img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.products .products-box .box .name-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 10px 1px;
}
.products .products-box .box .description {
    width: 100%;
    text-align: center;
    font-size: 15px;
}
.products .products-box .box .qty {
    display: flex;
    align-items: center;
    justify-content: center;
}
.products .products-box .box .qty span {
    margin: 15px 0;
    display: inline-block;
    height: 35px;
    width: 45px;
    line-height: 31px;
    font-size: 20px;
    border: 2px solid var(--main-color);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.products .products-box .box .qty span:first-of-type:hover,
.products .products-box .box .qty span:last-of-type:hover {
    background-color: var(--main-color);
    color: white;
}
.products .products-box .box .qty span:first-of-type {
    border-radius: 25px 0 0 25px;
    border-right-width: 0;
}
.products .products-box .box .qty span:last-of-type {
    border-radius: 0 25px 25px 0;
    border-left-width: 0;
}
.products .products-box .box button {
    width: 70%;
}
.products .products-box .box button:hover {
    background-color: transparent;
}

/* -------------contact section styles------------------- */
.contact {
    background: url('../images/design1.png') left top / 200px 200px no-repeat, url('../images/design1.png') right bottom / 250px 250px no-repeat;
}
.contact form {
    flex-direction: column;
}
.contact form .row {
    padding: 0;
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center; 
}
.contact form .input-box {
    width: 100%;
}
.contact form .input-box label {
    font-size: 16px;
    margin-bottom: 3px;
}
.contact form .input-box input,
.contact form .input-box textarea  {
    border: 2px solid var(--main-color);
    font-size: 15px;
    width: 100%;
    padding: 7px 10px;
    transition: 0.3s;
    margin-top: 4px;
    border-radius: 4px;
}
.contact form .input-box input:focus,
.contact form .input-box textarea:focus{
    background-color: var(--secondary-color);
}  
.contact form .row:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact form .row input[type="submit"] {
    margin-top: 15px;
}

/* -------------reviews section styles------------------- */
.reviews {
    background: url('../images/design4.png') left bottom / 200px 200px no-repeat;

}
.reviews .reviews-box {
    padding: 35px 0;
}

.reviews .reviews-box .box {
    position: relative;
    width:400px;
    display: flex;
    align-items:flex-start;
    justify-content: left;
    flex-direction: column;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.reviews .reviews-box .box:hover {
    background-color: var(--secondary-color);
}

.reviews .reviews-box .box .top {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: left;

}
.reviews .reviews-box .box .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.reviews .reviews-box .box .top img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.reviews .reviews-box .box .top .name span{
    font-size: 18px;
    font-weight: 600;
}
.reviews .reviews-box .box .stars {
    margin: 10px 0;
    color: var(--main-color);
}
.reviews .reviews-box .box .text {
    margin-top: 15px;
    line-height: 25px;
}
.reviews .reviews-box .box .quote {
    position: absolute;
    font-size: 75px;
    color: var(--main-color);
    z-index: 1000;
    top: 0;
    right: 15px;
    opacity: 0.2;
    overflow: hidden;
}
.swiper-btn {
    color: var(--main-color) !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    padding: 5px !important;
    font-size: 15px !important;
    background-color: var(--body-color);
}
.swiper-pagination-bullet{
   background-color: var(--main-color) !important;
}

/* -------------reviews section styles------------------- */
.news-letter {
    background: url('../images/design6.png') right bottom / 200px 200px no-repeat;
}
.news-letter h3 {
    font-style: oblique;
}
.news-letter form {
    align-items: center;
    flex-direction: column;
}
.news-letter form .input-box {
    width: 100%;
    margin: 15px 0;
    max-width: 500px;
}
.news-letter form #newsletter-email{
    background:transparent;
    border: 2px solid var(--main-color);
    font-size: 15px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
}

/* -------------footer styles------------------- */
footer {
    padding: 25px 80px;
    background-color: var(--secondary-color);
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer .footer-box h1{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 15px;
    font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--ternary-color);
}
footer .footer-box p {
    color: var(--main-color);
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 25px;
}
footer .footer-box .icons i {
    font-size: 25px;
    color: var(--main-color);
    overflow: hidden;
}
footer .footer-box .icons i:hover {
    color: rgb(255, 165, 180);
}
footer .footer-box a i {
    font-size: 15px;
    margin-right: 10px;
    color: var(--main-color);
}
footer .footer-box a  {
    color: var(--main-color);
    transition: 0.3s;
    line-height: 25px;
}
footer .footer-box a:hover {
    transform: translateX(10px);
}
.copyright {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 5px 0;
    background-color: var(--secondary-color);
}
.copyright span {
    color: var(--main-color);
}