/* General styling for the body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling for Our Flavors section */
#our-flavors {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    
}

/* Container for the introductory text */
.flavors-header {
    text-align: center;
    margin: 40px 0;
}

/* Styling for "Find Your Taste" */
.find-your-taste {
    font-family: 'Roboto', sans-serif;       /* Modern sans-serif font */
    font-size: 1em;                          /* Large font size */
    font-weight: bold;                       /* Bold for emphasis */
    color: #D91656;                        /* Same as main-color in :root */
    letter-spacing: 3px;                     /* Slightly spaced out letters */
    text-transform: uppercase;               /* Uppercase letters */
    margin-bottom: 10px;                     /* Space between title and subtitle */
}

/* Styling for "Over 60 Different Flavors" */
.flavors-count {
    font-family: 'Playfair Display', serif;  /* Elegant serif font */
    font-size: 4em;                        /* Medium font size */
    color: black;                          /* Deep purple to match the UI */
    margin-top: 0px;
    margin-bottom: 10px;                     /* Space between subtitle and description */
}

/* Styling for the description */
.flavors-description {
    font-family: 'Lato', sans-serif;         /* Clean, readable font */
    font-size: 1.2em;                        /* Standard size for paragraphs */
    color: #333;                            /* Dark grey for readability */
    line-height: 1.7;                        /* Spacious line height for readability */
    max-width: 900px;                        /* Limit the width for better readability */
    margin: 0 auto;                          /* Center the paragraph */
    padding: 0 20px;                         /* Add a little side padding for mobile devices */
}


/* Flavors container to hold the flavor items */
.flavors-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 40px;
}

/* Individual flavor item */
.flavor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 190px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Transition for smooth effect */
}

/* Hover effect */
.flavor-item:hover {
    transform: scale(1.25); /* Slightly increase size */
}

/* Styling for Image */
.flavor-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid rgba(211, 211, 211, 0.4);;     /* Border around the image */
}

/* Styling for h3 */
.flavor-item h3 {
    font-family: 'Cinzel', serif; 
    font-size: 1.4em;
    color: #555;
    letter-spacing: 1px;
    margin-top: 12px;
}

/* Background shapes */
.background-shape {
    position: absolute;
    opacity: 0.5; /* Makes background shapes semi-transparent */   
}

.rainbow {
    top: 90px;
    left: 50px;
    width: 150px; 
    height: auto;
}

.star {
    top: 100px;
    right: 80px;
    width: 40px;
    height: auto;
}

.heart {
    bottom: 150px;
    left: 90px;
    width: 100px;
    height: auto;
}

.crown {
    top: 150px; 
    right: 20px; 
    width: 120px; 
    height: auto;
}

.snowflake {
    bottom: 80px; 
    right: 100px; 
    width: 100px; 
    height: auto;
    filter: hue-rotate(300deg) saturate(150%) brightness(110%);
}